*.nc
*.swp
*.log
timestamp
acpy/

resolute/PIsensitivity
resolute/2mPARhighsnow-resolute2010.csv
resolute/2mPARlowsnow-resolute2010.csv
resolute/incidentPAR-resolute2010.csv
resolute/PARdata-approx.dat
resolute/precip_EC-low.dat
resolute/jra55-swr-2010.csv
resolute/mdNsensitivity
