*.nc
*.swp
*.log
timestamp
acpy/

resolute/*sensitivity*
resolute/oldCN
resolute/2mPARhighsnow-resolute2010.csv
resolute/2mPARlowsnow-resolute2010.csv
resolute/incidentPAR-resolute2010.csv
resolute/PARdata-approx.dat
resolute/iceBGC-approx.dat

rothera/**/*.csv
